<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icons/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Profil de Fidèle MBUNGI TEKILAZAYA, développeur web fullstack à Kinshasa.
         Fondateur de FD Web. Spécialiste PHP, MySQL, Bootstrap.">
    <meta name="keywords" content="Fidèle Mbungi, développeur Kinshasa, FD Web, développeur web Congo">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="shortcut icon" href="../media/u_images/Logo.png" type="image/png">
    <title>Fidele Web | Administrateur | Gestion du site</title>
</head>

<body class="bg-success bg-opacity-25">

    <div class="bg-success-subtle" id="loader">
        <div class="row d-flex justify-content-center">
            <div class="col-12 text-center">
                <div>
                    <h1 class="text-center text-primary loader" style="font-size: 2.8em;"> FD Web </h1>
                </div>
            </div>
            <div class="col-12 py-4 text-center">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-2">
                            <!-- Spinner de Bootstrap -->
                            <div class="spinner p-4 d-flex justify-content-center " role="status">
                                <i class="">

                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <div class="d-flex justify-content-center">
                    <span class="visually lucida text-center text-primary" style="font-size: 1.6em;">
                        Veuillez patienter
                    </span>
                </div>
                <div class="d-flex justify-content-center">
                    <span class="visually lucida text-center py-2 text-primary" style="font-size: 1.1em;">
                        En cours de chargement...
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div class="content container-fluid" id="content">
        <div class="bg-success fixed-top">
            <div class="container">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="navbar col-lg-2 d-none d-lg-flex">
                        <div class="d-flex align-items-center">
                            <img src="../media/u_images/default.jpg" alt="Logos" id="logo"
                                class="img-fluid rounded-circle logo">
                            <span class="name-logo text-light navbar-brand">FD Web</span>
                        </div>
                    </div>
                    <nav
                        class="navbar navbar-expand-lg col-xs-12 col-sm-12 col-md-12 col-lg-9 d-flex justify-content-around text-end px-3">
                        <div class="d-flex col-8 d-lg-none align-items-center align-self-start text-start">
                            <img src="../media/u_images/default.jpg" alt="Logos" id="logo"
                                class="img-fluid rounded-circle logo">
                            <span class="name-logo text-light navbar-brand">FD Web</span>
                        </div>
                        <div class="justify-content-end col-4 col-lg-12">
                            <button class="navbar-toggler mx-4 bg-light-subtle" data-bs-toggle="collapse"
                                data-bs-target="#menu">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse justify-content-end me-2" id="menu">
                                <ul class="navbar-nav text-end align-items-center">
                                    <li class="nav-item"><a class="nav-link text-light pointer m-2"
                                            onclick="accueils();">Accueil</a></li>
                                    <li class="nav-item"><a class="nav-link text-light pointer m-2"
                                            onclick="servicess();">Sevices</a></li>
                                    <li class="nav-item"><a class="nav-link text-light pointer m-2"
                                            onclick="contactss();">Contacts</a></li>
                                    <li class="nav-item"><a class="nav-link text-light pointer m-2"
                                            onclick="aproposs();">Apropos</a></li>
                                    <li class="nav-item btn btn-outline-primary" id="Gerer" onclick="gerers();"><a
                                            class="nav-link text-light pointer">Gérer</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <main>
            <div class="container-fluid py-5">
                <div class="container pt-5">
                    <div class="row">
                        <h3 class="h1 text-center">
                            Administrations du sites
                        </h3>
                        <div class="col-12 d-flex  justify-content-center align-items-center">
                            <div class="col-xs-12 col-sm-11 col-md-10 col-lg-9">
                                <p class="lead text-justify">
                                    La Gestion des ce site est un simples exemples des prototypes dévéloppés par fidèle
                                    mbungi,
                                    Ce n'est qu'un site personnelle pour la gestion des projets ainsi que la sauvegarde
                                    des
                                    compétences
                                    apprises toutes au long de son cursus d'apprentissages.
                                    Si vous êtes sur cette pages faites la gestion dans la bonne partie.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container py-3">
                    <h2 class="text-center">
                        Gestion des services
                    </h2>
                </div>
                <div class="container py-2">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7">
                            <div class="card m-0 p-0 bg-success">
                                <div class="card-header">
                                    <div class="input-group">
                                        <span class="input-group-text bg-success text-light">
                                            <i class="fa fa-search">

                                            </i>
                                        </span>
                                        <input type="text" class="form-control" id="search"
                                            placeholder="Saisissez l'id et cliquez sur l'icone de recherche">
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div
                                    class="card-header bg-success text-light d-flex justify-content-center align-items-center">
                                    <span class="lead">
                                        Ajout d'un service ici
                                    </span>
                                </div>
                                <div class="card-body text-center">
                                    <label for="service_img" class="form-label">Sélectionner l'image du service</label>
                                    <br>
                                    <div class="input-group py-2">

                                        <div class="input-group-text">
                                            <i class="fa fa-image"> </i>
                                        </div>
                                        <input type="file" class="form-control" name="service_img" id="service_img">
                                    </div>
                                    <div class="input-group py-2">

                                        <div class="input-group-text">
                                            <i class="fa fa-edit"> </i>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Grand titre"
                                            name="Grand_titre" id="Grand_titre">
                                    </div>
                                    <div class="input-group py-2">

                                        <div class="input-group-text">
                                            <i class="fa fa-edit"> </i>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Pétit titre"
                                            name="Petit_titre" id="Petit_titre">
                                    </div>
                                    <div class="input-group py-2">

                                        <div class="input-group-text">
                                            <i class="fa fa-edit"> </i>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Dernier titre"
                                            name="Titre_du_span" id="Titre_du_span">
                                    </div>
                                    <div class="input-group py-2">

                                        <div class="input-group-text">
                                            <i class="fa fa-edit"> </i>
                                        </div>
                                        <textarea name="details" id="details" class="form-control"
                                            placeholder="Détails du services"></textarea>
                                    </div>
                                </div>
                                <div class="card-footer bg-success d-flex justify-content-around align-items-center">
                                    <button class="btn btn-primary" onclick="gest_services();">
                                        <i class="fa fa-save"> </i>
                                        <span class="lead">
                                            Ajouter
                                        </span>
                                    </button>
                                    <button class="btn btn-danger" onclick="deleted();">
                                        <i class="fa fa-close"> </i>
                                        <span class="lead">
                                            Supprimer
                                        </span>
                                    </button>
                                    <button class="btn btn-info" onclick="actualiser();">
                                        <i class="fa fa-spinner"> </i>
                                        <span class="lead">
                                            Actualiser
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-4 container">
                    <div class="row">
                        <h3 class="text-center pt-3">
                            Tableau des services
                        </h3>
                    </div>
                </div>
                <div class="container-fluid py-2">
                    <div class="row justify-content-center align-items-center">
                        <div class="">
                            <div class="row">
                                <div class="table-responsive">
                                    <div class="card bg-transparent m-0 p-0">
                                        <div class="card-header bg-success text-center">
                                            <span class="lead text-light">
                                                Cliquez pour sélectionner
                                            </span>
                                        </div>
                                        <div class="card-body">
                                            <table
                                                class="table table-light rounded table-bordered border-success table-striped-columns">
                                                <thead class="thead card-header border-2 border-success">
                                                    <tr class="text-center">
                                                        <!-- entete du table -->
                                                        <th>Id</th>
                                                        <th>Grand titre</th>
                                                        <th>Petit titre</th>
                                                        <th>Dernier titre</th>
                                                        <th>Titre images</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="table_services">
                                                    <!--   Les données de la table sont télécharger ici via ajax-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pb-3">
                <div class="row">
                    <h6 class="display-5 text-center">
                        Gestion de la page d'accueil
                    </h6>
                    <h6 class="h1 start ms-5 ps-5 py-2">
                        Paragraphes de l'entête
                    </h6>
                </div>
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-xs-12 col-sm-11 col-md-9 col-lg-8">
                        <div class="card m-0 p-0 bg-transparent">
                            <div class="card-header bg-success">

                                <div class="input-group">
                                    <span class="input-group-text bg-success text-light">
                                        <i class="fa fa-search">

                                        </i>
                                    </span>
                                    <input type="text" class="form-control" id="search1"
                                        placeholder="Saisissez l'id et cliquez sur l'icone de recherche">
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="card-body text-center">

                                    <div class="input-group py-2">

                                        <div class="input-group-text">
                                            <i class="fa fa-edit"> </i>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Titre du Paragraphe"
                                            name="titre_p" id="titre_p">
                                    </div>
                                    <div class="input-group py-2">

                                        <div class="input-group-text">
                                            <i class="fa fa-edit"> </i>
                                        </div>
                                        <textarea name="details_paragraphe" id="details_p" class="form-control"
                                            placeholder="Détails du paragraphe"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-success d-flex justify-content-around align-items-center">
                                <button class="btn btn-primary" onclick="gest_paragraphes();">
                                    <i class="fa fa-save"> </i>
                                    <span class="lead">
                                        Ajouter
                                    </span>
                                </button>
                                <button class="btn btn-danger" onclick="deleted1();">
                                    <i class="fa fa-close"> </i>
                                    <span class="lead">
                                        Supprimer
                                    </span>
                                </button>
                                <button class="btn btn-info" onclick="actualiser1();">
                                    <i class="fa fa-spinner"> </i>
                                    <span class="lead">
                                        Actualiser
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-3">
                    <h3 class="text-center pt-3">
                        Tableau des paragraphes en accueil
                    </h3>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="">
                        <div class="row">
                            <div class="table-responsive">
                                <div class="card bg-transparent m-0 p-0">
                                    <div class="card-header bg-success text-center">
                                        <span class="lead text-light">
                                            Cliquez pour sélectionner
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <table
                                            class="table table-light rounded table-bordered border-success table-striped-columns">
                                            <thead class="thead card-header border-2 border-success">
                                                <tr class="text-center">
                                                    <!-- entete du table -->
                                                    <th>Id</th>
                                                    <th>Titres</th>
                                                    <th>Détails</th>
                                                    <th>Date de création</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table_paragraphes">
                                                <!--   Les données de la table sont télécharger ici via ajax-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h6 class="h1 start ms-5 ps-5 py-4">
                        Card de la page d'acceuil
                    </h6>
                </div>
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-xs-12 col-sm-11 col-md-9 col-lg-8">
                        <div class="card m-0 p-0 bg-transparent">
                            <div class="card-header bg-success">
                                <div class="input-group">
                                    <span class="input-group-text bg-success text-light">
                                        <i class="fa fa-search">

                                        </i>
                                    </span>
                                    <input type="text" class="form-control" id="search2"
                                        placeholder="Saisissez l'id et cliquez sur l'icone de recherche">
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="card-body text-center">

                                    <label for="service_img" class="form-label">Sélectionner l'image du paragraphe en
                                        acceuil</label>
                                    <br>
                                    <div class="input-group py-2">

                                        <div class="input-group-text">
                                            <i class="fa fa-image"> </i>
                                        </div>
                                        <input type="file" class="form-control" name="card_img" id="card_img">
                                    </div>

                                    <div class="input-group py-2">

                                        <div class="input-group-text">
                                            <i class="fa fa-edit"> </i>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Titre du card"
                                            name="titre_card" id="titre_card">
                                    </div>
                                    <div class="input-group py-2">

                                        <div class="input-group-text">
                                            <i class="fa fa-edit"> </i>
                                        </div>
                                        <textarea name="details_card" id="details_card" class="form-control"
                                            placeholder="Détails du card"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-success d-flex justify-content-around align-items-center">
                                <button class="btn btn-primary" onclick="gest_card();">
                                    <i class="fa fa-save"> </i>
                                    <span class="lead">
                                        Ajouter
                                    </span>
                                </button>
                                <button class="btn btn-danger" onclick="deleted2();">
                                    <i class="fa fa-close"> </i>
                                    <span class="lead">
                                        Supprimer
                                    </span>
                                </button>
                                <button class="btn btn-info" onclick="actualiser2();">
                                    <i class="fa fa-spinner"> </i>
                                    <span class="lead">
                                        Actualiser
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-3">
                    <h3 class="text-center pt-3">
                        Tableau des cards en accueil
                    </h3>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="">
                        <div class="container justify-content-center align-items-center">
                            <div class="row text-center table-responsive">
                                <div class="card bg-transparent m-0 p-0">
                                    <div class="card-header bg-success text-center">
                                        <span class="lead text-light">
                                            Cliquez pour sélectionner
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <table
                                            class="table table-light rounded table-bordered border-success table-striped-columns">
                                            <thead class="thead thead-success border-2 border-success card-header">
                                                <tr class="text-center">
                                                    <!-- entete du table -->
                                                    <th>Id</th>
                                                    <th>Titres</th>
                                                    <th>Titres Images</th>
                                                    <th>Détails</th>
                                                    <th>Date de création</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table_cards">
                                                <!--   Les données de la table sont télécharger ici via ajax-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="row py-3">
                            <h3 class="text-center h2 pt-3">
                                Messages & commentaires des utilisateurs
                            </h3>
                        </div>
                    </div>
                    <div class="row py-3">
                        <h3 class="text-center pt-3">
                            Tableau des messages
                        </h3>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="">
                            <div class="row">
                                <div class="table-responsive">
                                    <div class="card bg-transparent m-0 p-0">
                                        <div class="card-header bg-success text-center">
                                            <span class="lead text-light">
                                                Cliquez pour déclancher la suppression
                                            </span>
                                        </div>
                                        <div class="card-body">
                                            <table
                                                class="table table-light rounded table-bordered border-success table-striped-columns">
                                                <thead class="thead card-header border-2 border-success">
                                                    <tr class="text-center">
                                                        <!-- entete du table -->
                                                        <th>Id</th>
                                                        <th>Noms</th>
                                                        <th>E-mail</th>
                                                        <th>Téléphones</th>
                                                        <th>Messages</th>
                                                        <th>Date d'ajout</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="table_messages">
                                                    <!--   Les données de la table sont télécharger ici via ajax-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-3">
                        <h3 class="text-center pt-3">
                            Tableau des commentaires
                        </h3>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="">
                            <div class="row">
                                <div class="table-responsive">
                                    <div class="card bg-transparent m-0 p-0">
                                        <div class="card-header bg-success text-center">
                                            <span class="lead text-light">
                                                Cliquez pour déclancher la suppression
                                            </span>
                                        </div>
                                        <div class="card-body">
                                            <table
                                                class="table table-light rounded table-bordered border-success table-striped-columns">
                                                <thead class="thead card-header border-2 border-success">
                                                    <tr class="text-center">
                                                        <!-- entete du table -->
                                                        <th>Id</th>
                                                        <th>Noms</th>
                                                        <th>E-mail</th>
                                                        <th>Commentaires</th>
                                                        <th>Date d'ajout</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="table_commentaires">
                                                    <!--   Les données de la table sont télécharger ici via ajax-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-3">
                        <h3 class="text-center pt-3">
                            Les messages
                        </h3>
                    </div>
                    <div class="row d-flex justify-content-center align-items-center py-3" id="messages">
                        <!-- ici que s'affiche les messages des utilisateurs -->
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div class="container py-5">

    </div>

    <div class="fixed-bottom text-end">
        <button class="btn me-3 mb-5 btn-danger rounded" onclick="deconnexion();">
            <div class="d-flex align-items-center">
                <i class="fa fa-sign-out"> </i>
                <span class="d-none d-md-flex">
                    Déconnecter
                </span>
            </div>
        </button>
    </div>

    <script src="../assets/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
    <script src="../assets/bootstrap-5.3.3-dist/js/jquery.js"></script>
    <script src="../controller/scripts.js"></script>
    <script>
        window.onload = function () {
            table_services();
            table_cards();
            table_paragraphes();
            table_messages();
            table_commentaires();
            Afficher_messages();
            validation();
        }
        window.addEventListener('load', function () {
            setTimeout(() => {

                // Cacher le loader
                document.getElementById('loader').style.display = 'none';
                //afficher les contenus de la page
                document.getElementById('content').style.display = 'block';

            }); // 3 secondes de délai
        });
    </script>
</body>

</html>