<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FD Web | Formations gratuites</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row d-flex justify-content-around">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="rounded-0 p-0">
                    <div class="p-0 bg-black bg-opacity-100">
                        <h3 class="py-2 text-light">
                            Nos Formations
                        </h3>
                    </div>
                    <div class="text-start ps-3">
                        Voici la présentations de toutes nos Formations
                    </div>
                    <div class="text-center py-3 text-center">
                        <div class="col-6 text-center">
                            <img src="./media/u_images/Logos.png" alt="Logos de présentation FD web">
                        </div>
                        <span>
                            Développement web avec FD Web
                        </span>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolores, omnis atque quas
                            modi vitae qui? Sint omnis molestias sapiente, impedit nam assumenda, voluptates cum ea
                            temporibus, accusamus deleniti nisi?
                        </p>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div
    µ>
</body>

</html>